* {
    margin: 0;
    font-family: "Embed", sans-serif;
    font-weight: 3oo;
    font-style: normal;
    font-size: 12px;
    box-sizing: border-box;
}

#info-encabezado {
    background-color: rgba(128, 0, 128);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

#info-general {
    background-color: rgba(161, 15, 161, 0.76);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#info-general img {
    width: 50px;
}

#buscar {
    max-width: 400px;
    height: 45px;
    font-size: 16px;
    border-radius: 9px;
    border: 1px solid gray;
}

#ingresar {
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: purple;
    color: white;
    border: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav>ul {
    display: flex;
    background-color: #f2f2f2;
}

nav>ul>li {
    position: relative;
    padding: 15px 20px;
    color: black;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: gray;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    min-width: 150px;
}

nav ul ul li {
    color: black;
    pad: 10px;

}

nav ul li:hover>ul {
    display: block;

}

nav ul ul li:hover {
    background-color: rgba(146, 34, 173, 0.774);
}

header,
nav {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header {
    top: 0;
}

nav {
    top: 100px;
}

body {
    margin-top: 160px;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#banner img {
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
}

#mascotas {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 20px;
}

#perro {
    background-color: rgb(241, 241, 150);
    border-radius: 10px;
}

#gato {
    background-color: rgb(132, 197, 219);
    border-radius: 10px;
}

#perro,
#gato {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 500px;
    height: 300px;
}

#perro img,
#gato img {
    width: 300px;
}

.parrafo {
    padding: 20px;
    font-weight: bold;
    font-size: 20px
}

.caja {
    display: flex;
    gap: 30px;
    align-items: stretch;
    padding: 50px 170px;
    background-color: #F2F2F2;
}

article h2 {
    font-size: 30px;
    font-weight: bold;
    color: #4f1dc4b9;
    margin-bottom: 5px;
    padding: auto;
}

.parrafo-articulo {
    font-size: 15px;
    text-align: justify;
}

.caja-imagenes,
article {
    flex: 1;
}

.caja-imagenes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: auto;
}

.caja-imagenes img {
    flex: 1 1 cal(50%-10px);
    height: 100px;
    border-radius: 10px;
    object-fit: cover;

}

.grande {
    flex: 1 1 100%;
    height: 200px;
}

.linea-con-icono{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 10px;
}

.linea-con-icono img{
    width: 50px;
}
.linea-con-icono hr{
    flex: 1;
    border: none;
    background-color: #F2F2F2;
    height:2px ;
}
footer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

footer > div{
    flex: 1;
    min-width: 200px;
}

.info-legal{
    flex: 1 1 100%;
    border-top: 1px solid gray;
    padding: 20px 50px;
}

.info-legal p{
    margin-bottom: 8px;
}

h3{
    color: blue;
    font-size: 15px;
    margin-bottom: 8px;

}

footer span{
    display: block;
    margin-bottom: 8px;
}
.copyright-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.copyright-row img{
    max-width: 300px;
    height: auto;
}
input[type=email]{
    width: 150px;
    border-radius: 10px;
    font-size: 12px;
    padding: 12px 16px;

}
input[type=submit]{
    background-color: purple;
    color: white;
    font-size: 12px;
    border: none;
}