body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

header {
    background-color: skyblue;
    border: 5px solid blue;
    padding: 20px;
    text-align: center;
    height: 70px;
}

nav {
    background-color: greenyellow;
    border: 5px solid green;
    text-align: center;
    height: 40px;
}

section {
    background-color: rgba(153, 30, 153, 0.822);
    border: 5px solid grey;
    padding: 15px;
    display: flex;
    gap: 10px;
    flex: 1;
    height: 200px;
}

article {
    background-color: orange;
    border: 5px solid orangered;
    padding: 40PX;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.grande {
    flex: 3;
}

.pequeño {
flex: 1;
}

.full {
    height: 200px;
    width: 80%;
    
}

footer{
    background-color: rgba(128, 128, 128, 0.473);
    border: 5px solid black;
    padding: 30px;
    text-align: center;
    height: 20px;

}